{% include 'header.html' %}

{% with messages = get_flashed_messages() %}

{% if messages %}

<div class="alert alert-danger">
  {% for message in messages %}
  {{ message }}
  {% endfor %}
</div>

{% endif %}

{% endwith %}

<br><br>
<form method="post" action="/store" enctype="multipart/form-data">

  <div class="card">
    <div class="card-header">
      Ingresar empleado
    </div>
    <div class="card-body">
      <h5 class="card-title">Datos del empleado</h5>
      <p class="card-text">
      <div class="form-group">
        <label for="txtNombre">Nombre</label>
        <input class="form-control" type="text" name="txtNombre" id="txtNombre">
      </div>

      <div class="form-group">
        <label for="txtCorreo">Correo</label>
        <input class="form-control" type="text" name="txtCorreo" id="txtCorreo">
      </div>

      <div class="form-group">
        <label for="txtFoto">Foto</label>
        <input class="form-control" type="file" name="txtFoto" id="txtFoto">
      </div>

      <div class="form-group">
        <label for="txtFecha">Fecha</label>
        <input class="form-control" type="date" name="txtFecha" id="txtFecha">
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-success" value="Agregar">
        <a class='btn btn-primary' href="{{ url_for('index') }}">Regresar</a>
      </div>
      </p>

    </div>
  </div>


</form>
{% include 'footer.html' %}