{% include 'header.html' %}

<br>
<br>
Formulario para editar:
{% for empleado in empleados %}

<form method="post" action="/update" enctype="multipart/form-data">

  <div class="card">
    <div class="card-header">
      Editar empleado
    </div>
    <div class="card-body">
      <h5 class="card-title">Datos del empleado</h5>
      <p class="card-text">


      <div class="form-group">
        <label for="txtId">ID</label>
        <input class="form-control" value="{{ empleado[0] }}" type="text" name="txtId" id="txtId">
      </div>

      <div class="form-group">
        <label for="txtNombre">Nombre</label>
        <input class="form-control" value="{{ empleado[1] }}" type="text" name="txtNombre" id="txtNombre">
      </div>

      <div class="form-group">
        <label for="txtCorreo">Correo</label>
        <input class="form-control" value="{{ empleado[2] }}" type="text" name="txtCorreo" id="txtCorreo">
      </div>

      <div class="form-group">
        <label for="txtFoto">Foto</label>
        <img class="img-thumbnail" width="100" src="{{ url_for('uploads', nombreFoto=empleado[3]) }}" alt="">
        <input class="form-control" type="file" name="txtFoto" id="txtFoto">
      </div>

      <div class="form-group">
        <label for="txtFecha">Fecha</label>
        <input class="form-control" value="{{ empleado[4] }}" type="date" name="txtFecha" id="txtFecha">
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-success" value="Modificar">
        <a class='btn btn-primary' href="{{ url_for('index') }}">Regresar</a>
      </div>

      </p>
    </div>
  </div>
</form>
{% endfor %}
{% include 'footer.html' %}