{% include 'header.html' %}
<br>
<a class="btn btn-success" href="{{ url_for('create') }}">Ingresar nuevo empleado</a>
<br><br>
<table class="table table-light">
  <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>Foto</th>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Fecha</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for empleado in empleados %}
    <tr>
      <td>{{ empleado[0] }}</td>
      <td>
        <img class="img-thumbnail" width="100" src="uploads/{{ empleado[3] }}" alt="">
      </td>
      <td>{{ empleado[1] }}</td>
      <td>{{ empleado[2] }}</td>
      <td>{{ empleado[4] }}</td>
      <td><a class="btn btn-warning" href="/edit/{{ empleado[0] }}">Editar</a> | <a class="btn btn-danger"
          onclick="return confirm('Realmente desea borrar el registro?')" href="/destroy/{{ empleado[0] }}">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include 'footer.html' %}